################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Movies/v17
/.vs
/obj
/Movies.API/bin/Debug/net9.0
/Movies.API/obj
/Movies.API/appsettings.Development.json
/Movies.API/appsettings.Production.json
/Movies.API/appsettings.json
/Movies.Business/bin/Debug/net9.0/Movies.Business.dll
/Movies.Business/bin/Debug/net9.0/Movies.Business.pdb
/Movies.Business/bin/Debug/net9.0/Movies.DataAccess.dll
/Movies.Business/bin/Debug/net9.0/Movies.DataAccess.pdb
/Movies.Business/bin/Debug/net9.0/Movies.Models.dll
/Movies.Business/bin/Debug/net9.0/Movies.Models.pdb
/Movies.Business/obj/Debug/net9.0/ref/Movies.Business.dll
/Movies.Business/obj/Debug/net9.0/Movies.Business.AssemblyInfo.cs
/Movies.Business/obj/Debug/net9.0/Movies.Business.AssemblyInfoInputs.cache
/Movies.Business/obj/Debug/net9.0/Movies.Business.csproj.AssemblyReference.cache
/Movies.Business/obj/Debug/net9.0/Movies.Business.csproj.BuildWithSkipAnalyzers
/Movies.Business/obj/Debug/net9.0/Movies.Business.csproj.CoreCompileInputs.cache
/Movies.Business/obj/Debug/net9.0/Movies.Business.dll
/Movies.Business/obj/Debug/net9.0/Movies.Business.pdb
/Movies.Business/obj/Debug/net9.0/Movies.Business.sourcelink.json
/Movies.Business/obj/Debug/net9.0/refint/Movies.Business.dll
/Movies.DataAccess/bin/Debug/net9.0/Movies.DataAccess.dll
/Movies.DataAccess/bin/Debug/net9.0/Movies.DataAccess.pdb
/Movies.DataAccess/bin/Debug/net9.0/Movies.DataAccess.runtimeconfig.json
/Movies.DataAccess/bin/Debug/net9.0/Movies.Models.dll
/Movies.DataAccess/bin/Debug/net9.0/Movies.Models.pdb
/Movies.DataAccess/obj/Debug/net9.0/ref/Movies.DataAccess.dll
/Movies.Models/obj/Debug/net9.0/ref/Movies.Models.dll
/Movies.Models/obj/Debug/net9.0/Movies.Models.AssemblyInfo.cs
/Movies.Models/obj/Debug/net9.0/Movies.Models.AssemblyInfoInputs.cache
/Movies.Models/obj/Debug/net9.0/Movies.Models.csproj.BuildWithSkipAnalyzers
/Movies.Models/obj/Debug/net9.0/Movies.Models.csproj.CoreCompileInputs.cache
/Movies.Models/obj/Debug/net9.0/Movies.Models.dll
/Movies.Models/obj/Debug/net9.0/Movies.Models.pdb
/Movies.Models/obj/Debug/net9.0/Movies.Models.sourcelink.json
/Movies.Models/obj/Debug/net9.0/refint/Movies.Models.dll
/Movies.DataAccess/obj/Debug/net9.0/refint/Movies.DataAccess.dll
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.AssemblyInfo.cs
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.AssemblyInfoInputs.cache
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.csproj.AssemblyReference.cache
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.csproj.BuildWithSkipAnalyzers
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.csproj.CoreCompileInputs.cache
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.dll
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.genruntimeconfig.cache
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.pdb
/Movies.DataAccess/obj/Debug/net9.0/Movies.DataAccess.sourcelink.json
/Movies.Models/bin/Debug/net9.0/Movies.Models.dll
/Movies.Models/bin/Debug/net9.0/Movies.Models.pdb
