################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Movies/v17
/.vs
/obj
/Movies.API/bin/Debug/net9.0
/Movies.API/obj
