@using MoviesApp.Data.Enum
@model MoviesApp.ViewModels.CreateMovieViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
            @*<form method="post" asp-action="Create" enctype ="multipart/form-data"/> *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" placeholder="Genre" />
                @* <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<MovieGenre>()" />
                    <option>-- Select --</option>
                </select> *@
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" placeholder="Age" />
                @* <select asp-for="Age" asp-items="@Html.GetEnumSelectList<AgeLimit>()"  /> 
                    <option>-- Select --</option>
                </select>*@
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BuyPrice" class="control-label"></label>
                <input asp-for="BuyPrice" class="form-control" placeholder="Buy Price" />
                <span asp-validation-for="BuyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentPrice" class="control-label"></label>
                <input asp-for="RentPrice" class="form-control" placeholder="Rent Price" />
                <span asp-validation-for="RentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictUrl">Picture</label>
                <input asp-for="PictUrl" type="file" class="form-control" placeholder="Image" />
                <span asp-validation-for="PictUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-outline-primary" />
                <a asp-action="Index" type="button" class="btn btn-sm btn-outline-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
